<!DOCTYPE html>
<html>
    <head>
        <title>
            <body>
                <h1>Report Hub</h1>
                <button>PDF
                </button>
                <button type="reset">DOC</button>
                <button disabled="disabled">CSV</button>
                <button disabled="disabled">Excel

                    
                </button>
            </body>
        </title>
    </head>
</html>